body{
	font-family: sans-serif;
	background-color: #fff;
	color: #333;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

ul{	list-style: none; }

a{
	text-decoration: none;
	color: #333;
}

h1, h1, h3, h4, h5, h6{ margin: 0 0 10px 0; }
header{	width: 100%; }

.container{
	width: 80%;
	max-width: 80em;
	margin: 0 auto;
}
.d-table{	display: table; }
.dt-cell{ display: table-cell; }
.text-center{ text-align: center; }

header.fixed{
	position: fixed;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(171,168,171,0.66);
    -moz-box-shadow: 0px 3px 4px 0px rgba(171,168,171,0.66);
    box-shadow: 0px 3px 4px 0px rgba(171,168,171,0.66);
    z-index: 999;
}
	.navbar{
		min-height: 60px;
		width: 100%;
		display: table;
	}
	.navbar.navbar-inverse{
		background-color: #333;
		color: #fff;
	}
		.navbar.navbar-inverse .navbar-nav > li > a, .navbar-header a{	color: #fff; }
		.navbar-header > h1{ margin: 0;	}
		.navbar .navbar-nav{ padding: 0; }
		.navbar-nav > li{
			padding: 6px 10px;
			display: inline-block;
			vertical-align: middle;
		}

header.fixed + .main{
	padding-top: 60px;
}

footer{
	min-height: 80px;
	border-top: 1px solid #dcdcdc;
}


@media screen and (max-width: 767px){
	.container{	width: 90%;	}
}

@media screen and (max-width: 460px){
	.container{	
		width: calc(100% - 20px); 
		margin: 0 10px;
	}
} 
